@import url(./fonts/rubikiso/stylesheet.css);
@import url(./fonts/ubuntu/stylesheet.css);
body {
  margin: 0;
  padding: 0;
}

.logo {
  text-align: center;
  margin: 15px auto 15px auto;
  padding-bottom: 15px;
  font-family: "Rubik Iso";
  font-size: 50px;
  color: #3B5854;
  border-bottom: 2px solid #3B5854;
}

.main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 100%;
  align-items: center;
}

.option {
  float: left;
  margin: 10px 0 0 115px;
  font-family: "Ubuntu";
  font-size: 20px;
}

.cat {
  width: 300px;
  margin: 35px;
  float: left;
  box-shadow: 0 2px 5px 0 #3B5854;
  font-family: "Ubuntu-Regular";
}
.cat:hover {
  box-shadow: 0 5px 10px 0 #2d2648;
}
.cat .full_name {
  display: none;
  font-family: "Ubuntu";
  margin-left: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 25px;
  text-decoration: none;
  color: #3B5854;
  cursor: pointer;
}
.cat .full_name:hover {
  opacity: 0.8;
}
.cat .name {
  font-family: "Ubuntu";
  margin-left: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 25px;
  text-decoration: none;
  color: #3B5854;
  cursor: pointer;
}
.cat .name:hover {
  display: none;
}
.cat .name:hover ~ .full_name {
  display: block;
  opacity: 0.8;
}
.cat .description {
  margin-left: 5px;
  font-size: 15px;
}
.cat .category {
  font-size: 15px;
  margin-left: 5px;
}
.cat .category .describing:hover {
  font-weight: bold;
  cursor: pointer;
}
.cat .price {
  margin: 5px 10px 5px 5px;
  font-size: 20px;
  float: left;
  color: #3B5854;
}
.cat .photo {
  width: 100%;
}
.cat .photo:hover {
  box-shadow: 0px 2px 5px 0px #2d2648;
}
.cat .about {
  width: 100px;
  height: 30px;
  margin: 0 5px 5px 0;
  border: none;
  float: right;
  background: #f91155;
  color: #FFF;
  box-shadow: 0 2px 2px 0 #2d2648;
}
.cat .about:hover {
  box-shadow: 0px 2px 2px 0px #2d2648;
  opacity: 0.9;
}
.cat .info {
  display: none;
}

.toogle {
  display: none;
}

.switch {
  position: relative;
  width: 65px;
  height: 35px;
  margin-left: 40px;
  border-radius: 50px;
  box-shadow: 2px 1px 4px 2px #2d2648;
}
.switch .circle {
  position: absolute;
  left: 0;
  margin: 2.5px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  box-shadow: inset 2px 1.5px 5px 2px #2d2648;
  transition: left 0.3s;
}

.toogle:checked + .toogle_label > .switch .circle {
  background: #f91155;
  left: 30px;
  transition: left 0.3s;
}

.toogle:checked ~ .main .cat {
  width: 80%;
  margin: 5px 10% 30px 10%;
  padding: 15px 0 0 0;
}
.toogle:checked ~ .main .cat .name {
  margin: 0;
  margin-top: 15px;
}
.toogle:checked ~ .main .cat .photo {
  float: left;
  margin: 0 15px 15px 15px;
  width: 50%;
}
.toogle:checked ~ .main .cat .description {
  display: none;
}
.toogle:checked ~ .main .cat .info {
  margin: 15px;
  display: block;
}
.toogle:checked ~ .main .cat .price {
  margin: 5px auto auto 15px;
  font-size: 30px;
}
.toogle:checked ~ .main .cat .about {
  margin-top: 10px;
  width: 45%;
}

/*# sourceMappingURL=index.css.map */
